<style type="text/css">
  #setupId {
    display: inline-block;
  }
  #generateBox {
    display: none;
  }
</style>

<script>

  $(document).ready(() => {
    // don't display generate btn if save hasn't been clicked

    let setupId = localStorage.getItem('setupId');
    if(!setupId) { 
        setupId = makeid(5);
        localStorage.setItem('setupId', setupId);
    }

    $("#setupId").text(setupId);

    function setupExists(setupId, callback) {
      $.ajax({
        url: '/checkSetup',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({setupId}),
        success: callback
      });
    }

    setupExists(setupId, (result) => {
      if(result.exists) {
        $('#generateBox').css('display', 'block');
        $('#generateSetupId').text("Generating with Setup ID: " + result.setupId);
        $("#loadSetupId").text("Load Setup ID: "+setupId);
      } 
    });

    $.getJSON('./appliance-data.js', (data) => {
      let appliance_list = data;
      //console.log(appliance_list);
      $.each(appliance_list, (index, appliance) => {
        appliance_type = appliance.type;
        appliance_type = appliance_type.replace(' ', '_');
        $(".appliance-list").append("<option value='"+appliance_type+"'>"+appliance.type+"</option>");
      });
    });

    $('.add_room').on('click', function(event) {
          let room_name = (event.target.innerHTML).toLowerCase();
          room_name = room_name.trim();
          let id = Math.floor(1000 + Math.random() * 9000); //random id
          room_name = room_name + "_" + id;
          $.ajax({
              url: '/add-room', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({name: room_name})
          })
          .done((data) => {
            location.reload();
          });
      });

      $('.remove_appliance').on('click', (event) => {
          let room_id = (event.target.id).split("-")[1];
          let appliance_id = (event.target.id).split("-")[2];
          $.ajax({
              url: '/remove-appliance',
              type: 'POST', 
              contentType: 'application/json',
              data: JSON.stringify({room_id: room_id, appliance_id })
          })
          .done((data) => {
              location.reload();
          });

      });

      $('.add_appliance').on('click', (event) => {
          let room_id = (event.target.id).split("-")[1];
          let dropdown_id = room_id + "_appliances";
          let selected_type  = $("select[name='"+dropdown_id+"']").val();
          let id = Math.floor(1000 + Math.random() * 9000); //random id
          let appliance_id = selected_type + "_" + id;

          console.log("adding appliance");

          $.ajax({
              url: '/add-appliance',
              type: 'POST', 
              contentType: 'application/json',
              data: JSON.stringify({room_id: room_id, appliance_id })
          })
          .done((data) => {
              location.reload();
          });

      });

      $("#clear").click( () => {
          $.get("/empty", () => {
              console.log('emptying!');
              location.reload();
          });
      });

      //$("#save").click( () => {
        //  $.get("/save", () => {
          //    location.reload();
            //  alert("Setup saved to setup_data.js");
          //});
      //});

      $("#save").click( () => {
          start = Math.floor(Date.now() / 1000);
          days = parseInt($("#days_input").val());
          increment = 60;
          watchfulness = parseFloat($("#watchfulness_input").val());
          //console.log('saving!');
          $.ajax({
              url: '/save',
              type: 'POST', 
              contentType: 'application/json',
              data: JSON.stringify({ setupId, start, increment, days, watchfulness })
          })
          .done(() => {
            $("#generate").css('display', 'block');
            alert('House setup is saved to '+setupId+'.json!');
            location.reload();
          });
      });

      $('#typicalHouse').click( () => {
          start = Math.floor(Date.now() / 1000);
          days = parseInt($('#days_input').val());
          increment = 60;
          watchfulness = parseFloat($('#watchfulness_input').val());
        $.ajax({
          url: '/typicalHouse',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ start, increment, days, watchfulness })
        }).done((data) => {
          $('#generate').css('display', 'block');
          alert('Saved typical house to setup_data.json!');
          location.reload();
        });
      });

    $('#generateButton').click( () => {
      $('#generateStatus').text('Generating...');
      $.ajax({
        url: '/generate/'+setupId, 
        type: 'GET',
        beforeSend: function() {
          //alert("This is being sent before the actual call is made.");
        }
      }).done( (data) => {
        alert('Finished');
        $('#generateStatus').html('Generated! <a href="./results/'+setupId+'"> View Results </a>');
      });
    });

    $('#newId').click(() => {
      $.get('/empty');
      setupId = makeid(5);
      localStorage.setItem('setupId', setupId);
      location.reload();
    });

    $('#loadButton').click(() => {
      getSetupJSON(setupId, function(data) {
        rooms = data[1].rooms;
        if(rooms.length == 0) {
          $("#roomsMessage").text('No rooms!');
        } else {
          $.get('/empty', () => {
            rooms.forEach((room) => {
              room_id = room.room_id;
              $.ajax({
                url: '/add-room',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({name: room_id})
              });
              appliances = room.appliances;
              if(appliances.length > 0) {
                appliances.forEach((appliance) => {
                  appliance_id = appliance.appliance_id;
                  $.ajax({
                    url: '/add-appliance',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({room_id, appliance_id})
                  });
                });
              }
            });
            location.reload();
          })
        }
      })
    });

    $.getJSON('/setups', (data) => {
      data.forEach((setupFilename) => {
        $('#setups').append(
          '<option value="'+setupFilename+'"> '+setupFilename+' </option>'
        );
      });
    });

    $('#chooseLoad').click( () => {
      let loadId = $('#setups').val();
      setupId = loadId.split(".")[0];
      localStorage.setItem('setupId', setupId);
      location.reload();
    });
    

    function getSetupJSON(setupId, callback) {
      $.ajax({
        url: '/getSetupJSON/'+setupId,
        type: 'GET',
        success: callback
      });
    }

  });

  function makeid(length) {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }

</script> 

<div class="container-fluid" style="padding: 10px">
    <div class="col-sm-16">
      <div class="well">
        <h2>Energy Simulation Setup</h2>
        <br />

        <h4 style="display: inline-block;"> Editing Setup Id: </h4>  
          <div id="setupId"></div>
        </h4>

        <button id="newId" class="btn btn-primary">Make New Id</button>

        <hr />

        {{!-- <button id="typicalHouse" class="btn btn-primary">
            Shortcut: Setup 'Typical' House
        </button> --}}

        <h4> Add a Room </h4>
            <div id="room_buttons">
            </div>

            <button class="btn btn-primary add_room">
                Kitchen
            </button>

            <button class="btn btn-primary add_room">
                Living Room
            </button>

           <button class="btn btn-primary add_room">
                Bedroom 1
            </button>

           <button class="btn btn-primary add_room">
                Bedroom 2
            </button>

           <button class="btn btn-primary add_room">
                Bedroom 3
            </button>

           <button class="btn btn-primary add_room">
                Laundry Room
            </button>

           <button class="btn btn-primary add_room">
                Bathroom
            </button>
            
        <br /> <br />

        <h4> Rooms </h4>
            <div id="roomsMessage"></div>

            <div id="rooms">
              {{#house}}
                  <strong><u> {{room_id}} </u> </strong> <br />
                  {{#appliances}}
                      <div class='appliance'>{{appliance_id}}</div>
                      <button 
                        class="remove_appliance btn btn-primary"
                        id="from-{{../room_id}}-{{appliance_id}}"
                        style="font-size: 10pt;"
                      >
                        Remove
                    </button>
                    <br /><br />
                  {{/appliances}}
                  <br />
                  <div class="row">
                      <div class="col-sm-2">
                          <select 
                            class="appliance-list form-control" 
                            name="{{this.room_id}}_appliances"
                          >
                      </select>
                      </div>
                      <div class="col-sm-2">
                          <button 
                            class="btn btn-primary add_appliance" 
                            id="to-{{this.room_id}}" 
                            class="btn btn-primary">
                            Add
                          </button>
                      </div>
                  </div>
                  <br /><br />
              {{/house}}
            </div>

         <div id="rooms_setup" class="row">
            <!-- <div class="col-sm-4">
                <div class="well">
                  <p> info about room </p>
                  <button class='btn btn-warning'> Add Appliances </button>
                  </div>
              </div> -->
          </div>

        <hr />

    <p><button id="clear" class="btn btn-primary"> Clear </button>

    <br /><br />

    <div id="loadSetupId"></div> 
    <select id="setups"></select>
    <button id="chooseLoad">Choose</button>
    <br />
    <button id="loadButton" class="btn btn-primary">Load</button>

    <br /> <br />

    <h4> Days: 
      <input 
        class="form-control" 
        value="7" 
        id="days_input" 
        type="number"
      /> 
    </h4>


    <h4> Agent watchfulness: 
      <input 
        class="form-control" 
        value="0.5" 
        id="watchfulness_input" 
        type="number"
      /> 
    </h4>

    <br /> <br />

    <p><button id="save" class="btn btn-primary"> Save </button>
    
    <hr> 



    <p id="generateBox">
      <button id="generateButton" class="btn btn-primary">Generate</button>
      <div id="generateSetupId"></div>
    </p>
    <div id="generateStatus"></div>

    {{!-- <p><button id="generate_data" class="btn btn-primary"> generate and display data </button></p> --}}

    </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Thing</h4>
            <p>...</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Thing</h4>
            <p>...</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Thing</h4>
            <p>...</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Thing</h4>
            <p>...</p> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>

    
  </div>


  <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Modal
</button>-->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
